In [107]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

In [10]:
df = pd.read_csv(r"C:\Users\LENOVO\Desktop\BR\employee_data.csv")

In [15]:
df.head()

,EmpID,FirstName,LastName,StartDate,ExitDate,Title,Supervisor,ADEmail,BusinessUnit,EmployeeStatus,...,Division,DOB,State,JobFunctionDescription,GenderCode,LocationCode,RaceDesc,MaritalDesc,Performance Score,Current Employee Rating
0,3427,Uriah,Bridges,20-Sep-19,NaN,Production Technician I,Peter Oneill,uriah.bridges@bilearner.com,CCDR,Active,...,Finance & Accounting,07-10-1969,MA,Accounting,Female,34904,White,Widowed,Fully Meets,4
1,3428,Paula,Small,11-Feb-23,NaN,Production Technician I,Renee Mccormick,paula.small@bilearner.com,EW,Active,...,Aerial,30-08-1965,MA,Labor,Male,6593,Hispanic,Widowed,Fully Meets,3
2,3429,Edward,Buck,10-Dec-18,NaN,Area Sales Manager,Crystal Walker,edward.buck@bilearner.com,PL,Active,...,General - Sga,06-10-1991,MA,Assistant,Male,2330,Hispanic,Widowed,Fully Meets,4
3,3430,Michael,Riordan,21-Jun-21,NaN,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,Active,...,Finance & Accounting,04-04-1998,ND,Clerk,Male,58782,Other,Single,Fully Meets,2
4,3431,Jasmine,Onque,29-Jun-19,NaN,Area Sales Manager,Jason Kim,jasmine.onque@bilearner.com,TNS,Active,...,General - Con,29-08-1969,FL,Laborer,Female,33174,Other,Married,Fully Meets,3

In [ ]:
## How many employees are currently active vs terminated?

In [21]:
pd.set_option('display.max_columns', None)

In [27]:
active_terminated_staff = df['EmployeeStatus'].value_counts()
active_terminated_staff[['Active','Voluntarily Terminated','Terminated for Cause']]

EmployeeStatus
Active                    2458
Voluntarily Terminated     321
Terminated for Cause        66
Name: count, dtype: int64

In [ ]:
##What are the top 5 most common job titles?

In [35]:
job_titles = df['Title'].value_counts()
job_titles.head(5)

Title
Production Technician I     1321
Production Technician II     516
Area Sales Manager           297
Production Manager           154
Software Engineer             90
Name: count, dtype: int64

In [ ]:
## What is the distribution of employees across business units?

In [37]:
df['BusinessUnit'].value_counts()

BusinessUnit
NEL     304
SVG     304
BPC     303
EW      302
PL      301
CCDR    300
PYZ     299
TNS     297
MSC     296
WBL     294
Name: count, dtype: int64

In [ ]:
##How many employees were hired each year?

In [39]:
df.head()

,EmpID,FirstName,LastName,StartDate,ExitDate,Title,Supervisor,ADEmail,BusinessUnit,EmployeeStatus,EmployeeType,PayZone,EmployeeClassificationType,TerminationType,TerminationDescription,DepartmentType,Division,DOB,State,JobFunctionDescription,GenderCode,LocationCode,RaceDesc,MaritalDesc,Performance Score,Current Employee Rating
0,3427,Uriah,Bridges,20-Sep-19,NaN,Production Technician I,Peter Oneill,uriah.bridges@bilearner.com,CCDR,Active,Contract,Zone C,Temporary,Unk,NaN,Production,Finance & Accounting,07-10-1969,MA,Accounting,Female,34904,White,Widowed,Fully Meets,4
1,3428,Paula,Small,11-Feb-23,NaN,Production Technician I,Renee Mccormick,paula.small@bilearner.com,EW,Active,Contract,Zone A,Part-Time,Unk,NaN,Production,Aerial,30-08-1965,MA,Labor,Male,6593,Hispanic,Widowed,Fully Meets,3
2,3429,Edward,Buck,10-Dec-18,NaN,Area Sales Manager,Crystal Walker,edward.buck@bilearner.com,PL,Active,Full-Time,Zone B,Part-Time,Unk,NaN,Sales,General - Sga,06-10-1991,MA,Assistant,Male,2330,Hispanic,Widowed,Fully Meets,4
3,3430,Michael,Riordan,21-Jun-21,NaN,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,Active,Contract,Zone A,Full-Time,Unk,NaN,Sales,Finance & Accounting,04-04-1998,ND,Clerk,Male,58782,Other,Single,Fully Meets,2
4,3431,Jasmine,Onque,29-Jun-19,NaN,Area Sales Manager,Jason Kim,jasmine.onque@bilearner.com,TNS,Active,Contract,Zone A,Temporary,Unk,NaN,Sales,General - Con,29-08-1969,FL,Laborer,Female,33174,Other,Married,Fully Meets,3

In [41]:
df['StartDate'] = pd.to_datetime(df['StartDate'], dayfirst = True)
df['Startyear'] = df['StartDate'].dt.year

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_11992\3149657643.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['StartDate'] = pd.to_datetime(df['StartDate'], dayfirst = True)

In [45]:
df.groupby('Startyear')["EmpID"].count()

Startyear
2018    255
2019    598
2020    592
2021    600
2022    620
2023    335
Name: EmpID, dtype: int64

In [53]:
##What is the average "Current Employee Rating" per department or division?

In [55]:
df.groupby(["DepartmentType","Division"])["Current Employee Rating"].mean().reset_index()

           DepartmentType                  Division  Current Employee Rating
0           Admin Offices                    Aerial                 3.000000
1           Admin Offices                      Catv                 3.000000
2           Admin Offices                 Engineers                 3.000000
3           Admin Offices                 Executive                 3.000000
4           Admin Offices          Field Operations                 3.086957
..                    ...                       ...                      ...
116  Software Engineering                  Splicing                 3.500000
117  Software Engineering               Underground                 2.500000
118  Software Engineering                  Wireless                 3.500000
119  Software Engineering     Wireline Construction                 2.800000
120  Software Engineering  Yard (Material Handling)                 2.000000

[121 rows x 3 columns]

In [ ]:
##Which job titles have the highest average performance scores?

In [61]:
df.groupby("Title")["Current Employee Rating"].mean().idxmax()

'IT Manager - Infra'

In [ ]:
##Is there a relationship between performance score and employee status (active vs terminated)?

In [73]:
df.head()

,EmpID,FirstName,LastName,StartDate,ExitDate,Title,Supervisor,ADEmail,BusinessUnit,EmployeeStatus,EmployeeType,PayZone,EmployeeClassificationType,TerminationType,TerminationDescription,DepartmentType,Division,DOB,State,JobFunctionDescription,GenderCode,LocationCode,RaceDesc,MaritalDesc,Performance Score,Current Employee Rating,Startyear
0,3427,Uriah,Bridges,2019-09-20,NaN,Production Technician I,Peter Oneill,uriah.bridges@bilearner.com,CCDR,Active,Contract,Zone C,Temporary,Unk,NaN,Production,Finance & Accounting,07-10-1969,MA,Accounting,Female,34904,White,Widowed,Fully Meets,4,2019
1,3428,Paula,Small,2023-02-11,NaN,Production Technician I,Renee Mccormick,paula.small@bilearner.com,EW,Active,Contract,Zone A,Part-Time,Unk,NaN,Production,Aerial,30-08-1965,MA,Labor,Male,6593,Hispanic,Widowed,Fully Meets,3,2023
2,3429,Edward,Buck,2018-12-10,NaN,Area Sales Manager,Crystal Walker,edward.buck@bilearner.com,PL,Active,Full-Time,Zone B,Part-Time,Unk,NaN,Sales,General - Sga,06-10-1991,MA,Assistant,Male,2330,Hispanic,Widowed,Fully Meets,4,2018
3,3430,Michael,Riordan,2021-06-21,NaN,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,Active,Contract,Zone A,Full-Time,Unk,NaN,Sales,Finance & Accounting,04-04-1998,ND,Clerk,Male,58782,Other,Single,Fully Meets,2,2021
4,3431,Jasmine,Onque,2019-06-29,NaN,Area Sales Manager,Jason Kim,jasmine.onque@bilearner.com,TNS,Active,Contract,Zone A,Temporary,Unk,NaN,Sales,General - Con,29-08-1969,FL,Laborer,Female,33174,Other,Married,Fully Meets,3,2019

In [75]:
correlation = (df['EmployeeStatus'].astype('category').cat.codes.corr(df['Performance Score'].astype('category').cat.codes))
print(correlation)

0.04112391927382328

In [ ]:
##Whatâ€™s the distribution of performance scores by gender?

In [89]:
df.groupby('GenderCode')['Performance Score'].value_counts().unstack().fillna(0)

Performance Score  Exceeds  Fully Meets  Needs Improvement  PIP
GenderCode
Female                 243         1278                104   57
Male                   126         1083                 73   36

In [ ]:
##What is the gender distribution across the company?

In [91]:
df["GenderCode"].value_counts()

GenderCode
Female    1682
Male      1318
Name: count, dtype: int64

In [ ]:
##Whatâ€™s the racial breakdown of the workforce?

In [93]:
df["RaceDesc"].value_counts()

RaceDesc
Asian       629
Black       618
White       599
Other       582
Hispanic    572
Name: count, dtype: int64

In [ ]:
##What is the marital status distribution per division?

In [103]:
df.groupby("DepartmentType")["MaritalDesc"].value_counts().reset_index()

          DepartmentType MaritalDesc  count
0          Admin Offices    Divorced     25
1          Admin Offices      Single     22
2          Admin Offices     Widowed     18
3          Admin Offices     Married     15
4       Executive Office      Single     15
5       Executive Office    Divorced      6
6       Executive Office     Widowed      2
7       Executive Office     Married      1
8                  IT/IS     Widowed    119
9                  IT/IS      Single    114
10                 IT/IS     Married    104
11                 IT/IS    Divorced     93
12     Production            Married    534
13     Production           Divorced    514
14     Production             Single    505
15     Production            Widowed    467
16                 Sales     Married     85
17                 Sales      Single     85
18                 Sales     Widowed     85
19                 Sales    Divorced     76
20  Software Engineering     Widowed     32
21  Software Engineering      Single     31
22  Software Engineering    Divorced     27
23  Software Engineering     Married     25

In [ ]:
##What is the average age of employees (based on DOB)?

In [127]:
df["DOB"] = pd.to_datetime(df["DOB"], format='%d-%m-%Y')
df["Age"] = (pd.Timestamp.today() - df["DOB"]).dt.days//365

In [129]:
df['Age'].mean()

53.11333333333334

In [131]:
##Which departments/divisions have the highest number of employees?

In [177]:
department_division = df.groupby("DepartmentType")["Division"].value_counts()
department_division_max = department_division.groupby('DepartmentType').idxmax()

In [179]:
department_division_max

DepartmentType
Admin Offices                  (Admin Offices, Field Operations)
Executive Office            (Executive Office, Field Operations)
IT/IS                                  (IT/IS, Field Operations)
Production                 (Production       , Field Operations)
Sales                                  (Sales, Field Operations)
Software Engineering    (Software Engineering, Field Operations)
Name: count, dtype: object

In [183]:
##Which departments show the highest employee ratings?

In [187]:
df.groupby('DepartmentType')['Current Employee Rating'].mean().idxmax()

'Admin Offices'

In [ ]:
##Are there any departments dominated by one gender or race?

In [195]:
gender_domination  = df.groupby("DepartmentType")['GenderCode'].value_counts()
gender_domination_max = gender_domination.groupby("DepartmentType").idxmax()
gender_domination_max

DepartmentType
Admin Offices                (Admin Offices, Female)
Executive Office            (Executive Office, Male)
IT/IS                                  (IT/IS, Male)
Production               (Production       , Female)
Sales                                  (Sales, Male)
Software Engineering    (Software Engineering, Male)
Name: count, dtype: object

In [197]:
race_domination = df.groupby("DepartmentType")['RaceDesc'].value_counts()
race_domination_max = race_domination.groupby("DepartmentType").idxmax()
race_domination_max

DepartmentType
Admin Offices                  (Admin Offices, Black)
Executive Office            (Executive Office, Other)
IT/IS                               (IT/IS, Hispanic)
Production                 (Production       , Asian)
Sales                                  (Sales, Asian)
Software Engineering    (Software Engineering, White)
Name: count, dtype: object

In [199]:
##Whatâ€™s the breakdown of job function descriptions within each business unit?

In [203]:
df.groupby('BusinessUnit')['JobFunctionDescription'].value_counts().reset_index()

    BusinessUnit JobFunctionDescription  count
0            BPC                Laborer     49
1            BPC               Engineer     41
2            BPC             Technician     28
3            BPC                Foreman     24
4            BPC                Lineman     16
..           ...                    ...    ...
440          WBL        Program Manager      1
441          WBL                 Runner      1
442          WBL                   Shop      1
443          WBL             Tower Hand      1
444          WBL                 Welder      1

[445 rows x 3 columns]

In [ ]:
##Which states have the highest number of employees?

In [211]:
df.groupby("State")["EmpID"].count().sort_values(ascending = False).head(5)

State
MA    2651
TX      52
CT      40
AZ      31
ID      31
Name: EmpID, dtype: int64

In [ ]:
##Is there a difference in performance score or rating across different states or location codes?

In [221]:
performance_rating_across_states = df.groupby("State")["Current Employee Rating"].mean()
performance_rating_across_states

State
AL    2.727273
AZ    3.000000
CA    2.600000
CO    3.041667
CT    3.100000
FL    3.000000
GA    2.333333
ID    3.032258
IN    2.500000
KY    2.925926
MA    2.976235
ME    3.000000
MT    1.000000
NC    3.200000
ND    1.500000
NH    2.000000
NV    4.000000
NY    3.363636
OH    1.000000
OR    2.444444
PA    3.000000
RI    3.250000
TN    2.916667
TX    2.826923
UT    3.000000
VA    4.500000
VT    3.500000
WA    2.900000
Name: Current Employee Rating, dtype: float64

In [219]:
performance_rating_across_LocationCode = df.groupby("LocationCode")["Current Employee Rating"].mean()
performance_rating_across_LocationCode

LocationCode
1013     2.0
1015     2.0
1040     3.0
1043     3.0
1057     2.0
        ...
97893    2.0
97933    5.0
97969    3.0
97985    4.0
98052    2.0
Name: Current Employee Rating, Length: 2821, dtype: float64